{% extends "products/base.html" %}

{% block title %} Контакт {% endblock %}
{% block content %}
<div>
    <h3>НАШИ КОНТАКТЫ:</h3>
    <p>По любым вопросам вы можете связаться с нами любым удобным для вас способом. Мы всегда рады обратной связи от наших клиентов касательно качества цветов или работы наших сотрудников.</p>
    <p>ИНФОРМАЦИЯ О МАГАЗИНАХ:</p>
    <p>г. Астана, пр. Мангилик Ел, 36</p>
    <p> ул. Санжара Асфендиярова, 2</p>
    <p> Время работы: круглосуточно</p>
</div>
{% endblock %}