{% extends 'products/base.html' %}

{% block content %}

<nav class='categories'>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'products:category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</nav>

<div>
    <h3>Круглосуточная доставка цветов в Астане</h3>
</div>


{% comment %} {% for bouquet in bouquets %}
<div class="product-card">
    {% if bouquet.product.image %}
        <img src="{{ bouquet.product.image.url }}" alt="{{ bouquet.product.name }}" class="product-image", width='200'>
    {% endif %} 
    <div class="product-info">
        <h2 class="product-name">{{ bouquet.product.name }}</h2>
        <p class="product-price">Цена: {{ bouquet.product.price }} тенге.</p>
        <p><a href="{% url 'products:bouquet' bouquet.id %}">Подробнее</a></p>  
    </div>
</div>
{% endfor %}  {% endcomment %}

{% endblock %}