{% extends 'products/base.html' %}

{% block content %}
  <div class="product-list">
    <h1>Список товаров</h1>
    <div class="product-cards">
      {% for product in products %}
        <div class="product-card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" />
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">{{ product.price }} ₽</p>
          <a href="{% url 'products:product' product.id %}" class="btn btn-primary">Подробнее</a>
        </div>
      {% endfor %}
      
    </div>
  </div>
{% endblock %}
